#folders
overhead/
data/
htmlcov/
.pytest_cache/
client/
venv/

#files
.env
.coveragerc
.coverage
clown.py
db.sqlite
docker-compose.yml
locust_file.py
problem_container.odp
pyproject.toml
README.dev.md
README.md
