-r requirements.in

pytest  # test runner
requests  # test client needs "requests"
pytest-ordering  # provides markers
pytest-asyncio  # run "async def" test functions via marker
pytest-cov # test coverage
pip-tools  # python environment management
locust  # performance/load testing
pre-commit # run linter, isort, etc.
