asyncpg  # experimental database driver
psycopg2-binary  #  main driver until sqlalchemy 1.4 supports asyncpg
databases[postgresql]  # either this or sqlalchemy 1.4
email-validator  # pydantic dependency
fastapi  # core application
python-dotenv  # utility to work with .env file
uvicorn[standard] # ASGI prod server for FastAPI
gunicorn  # prod server to manage multiple processes running uvicorn
python-multipart  # need for OAuth2 https://fastapi.tiangolo.com/tutorial/security/first-steps/
passlib[bcrypt]  # handling passwords
python-jose[cryptography]  # handling token
orjson  # optimized JSON serialization
sentry-sdk  # error tracking